body {
  font-family: Arial, sans-serif;
  background-color: #171637;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* Ensure no default margin */
}

.app-container {
  text-align: center;
  background-color: #171637;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.animation {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
  /* Center the button within the flex container */
}

button:hover {
  background-color: #0056b3;
}

.lottery-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #543E6B;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: #65507A;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #65507A;
  position: relative;
  overflow: hidden;
}

.circle img {
  width: 60px;
  height: 60px;
  object-fit: fill;
  position: absolute;
  transform: scale(2.9);
  transform-origin: center;
}

.circle::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}